/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  background: linear-gradient(135deg, #1a1a2e, #16213e);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 30px;
  width: 400px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.8s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

h2 {
  color: #000;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

label {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

mat-form-field {
  width: 100%;
  display: block;
  margin: 10px 0;
}

input[matInput] {
  color: #fff;
  font-weight: bold;
}

mat-radio-group {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

mat-radio-button {
  color: #fff;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #76f44c, #178903);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 2px 4px 15px rgb(240, 231, 127);
}

/* Keyframe animation for smooth fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}