<!-- <app-customer-list #Customer>
    <p class = "Customer">Hello Customer</p>
    <p class = "Employee">Hello Employee</p>
    <p class = "Programmer">Hello Programmer</p>
</app-customer-list> -->
<!-- {{Customer.name}} -->
<!-- <p [ngClass]="{showcolor: str==''}">{{Customer.name}}</p>
<p [ngStyle]="{backgroundColor: str==''?'red':'green'}">{{Customer.name}}</p> -->

<h1 appHighlight>Mobile Phones</h1>

<app-customer-list>
    <p class="model">Apple</p>
    <button class="view">View More</button>
</app-customer-list>

<app-customer-list>
    <p class="model">Samsung</p>
    <button class="view">View More</button>
</app-customer-list>

<app-customer-list>
    <p class="model">Vivo</p>
    <button class="view">View More</button>
</app-customer-list>

<app-customer-list>
    <p class="model">Oppo</p>
    <button class="view">View More</button>
</app-customer-list>

<br>
<mat-divider></mat-divider>
<br>
<section>
  <div class="example-button-row">
    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<br>
<mat-divider></mat-divider>
<br>
<mat-divider></mat-divider>
<br>
<section>
  <div class="example-button-row">
    <button mat-flat-button>Basic</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</section>
<br>
<mat-divider></mat-divider>
<br><br><br>