<!-- <app-customer-list #Customer>
    <p class = "Customer">Hello Customer</p>
    <p class = "Employee">Hello Employee</p>
    <p class = "Programmer">Hello Programmer</p>
</app-customer-list> -->
<!-- {{Customer.name}} -->
<!-- <p [ngClass]="{showcolor: str==''}">{{Customer.name}}</p>
<p [ngStyle]="{backgroundColor: str==''?'red':'green'}">{{Customer.name}}</p> -->

<app-customer-list>
    <p class="model">Apple</p>
    <button class="view">View More</button>
</app-customer-list>

<app-customer-list>
    <p class="model">Samsung</p>
    <button class="view">View More</button>
</app-customer-list>

<app-customer-list>
    <p class="model">Vivo</p>
    <button class="view">View More</button>
</app-customer-list><app-customer-list>

    <p class="model">Oppo</p>
    <button class="view">View More</button>
</app-customer-list>